.todos {
    padding: 1rem 0;
}

.toolbar {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
    z-index: 10;
}

.grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto;
    padding: 2.5rem 0;
}

.modalWrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease;
    z-index: -1

}
